:root {
    --orange-color: hsl(25, 97%, 53%);
    --white-color: hsl(0, 0%, 100%);
    --light-gray: hsl(217, 12%, 63%);
    --medium-gray: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue:hsl(216, 12%, 8%);
    --main-transition: 0.6s;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Overpass', sans-serif;
    width: 100vh;
}
.container {
    width: 375px;
    background-color: var(--very-dark-blue);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 20px;
}
p {
    color: var(--light-gray);
    /* font-weight: 700; */
    line-height: 1.6;
}
h1 {
    color: var(--white-color);
    margin: 30px 0px 10px;
}
/* begin rating part */
.rating {
    /* display: none; */
    transition: var(--main-transition);
}
.rating .star {
    width: 45px;
    height: 45px;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.rating .rate {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25px 0px;
}
.rating .rate li {
    width: 45px;
    height: 45px;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--light-gray);
    cursor: pointer;
    transition: var(--main-transition);
}
.rating .rate li:hover {
    background-color: var(--light-gray);
    color: var(--white-color);
}
.rating .rate li.active {
    background-color: var(--orange-color);
    color: var(--white-color);
}
.rating button {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: var(--orange-color);
    outline: none;
    border: none;
    color: var(--white-color);
    text-transform: uppercase;
    font-family: 'Overpass';
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: var(--main-transition);
}
.rating button:hover {
    background-color: var(--white-color);
    color: var(--orange-color);
}
.rating button:disabled {
    pointer-events: none;
}
/* end rating part */
/* begin exit part */
.exit {
    text-align: center;
    transition: var(--main-transition);
    display: none;
}
.exit img {
    margin: 20px 0px;
}
.exit p.selection {
    color: var(--orange-color);
    background-color: var(--dark-blue);
    width: fit-content;
    margin: auto;
    padding: 5px 10px;
    border-radius: 20px;
}
/* end exit part */
/* begin animation part */
.left-to-right {

}
/* end animation part */